# allow all incoming and outgoing traffic
*mangle
:PREROUTING ACCEPT [269:30037]
:INPUT ACCEPT [265:28725]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [274:28216]
:POSTROUTING ACCEPT [274:28216]
COMMIT
*filter
:INPUT ACCEPT [265:28725]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [274:28216]
COMMIT
